@import "settings/SR54";
@import "components/asciidoc";
@import "components/awesome-icons";

%lead {
  font-size: $paragraph-font-size;
  color: $blockquote-font-color;
}

/* <h2> begin each chapter of the book,
 * and we want each chapter to begin on a new page.
 */
h2 { page-break-before: always; }

@import url(https://fonts.googleapis.com/css?family=Audiowide);
$audiowide: 'Audiowide', cursive;
h2,h3 {
  font-family: $audiowide;
  font-weight: bold;
  background: linear-gradient($gradient-begin, $gradient-end);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #325D72;
  border-bottom: 1px solid $hr-border-color;
}

.formula {
  font-weight: bold;
  background: linear-gradient($gradient-begin, $gradient-end);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 0.8em;
}

#content #{headers()} {
  & > a.anchor {
    color: $body-font-color;
  }
}

#header, #content, #footnotes {
  max-width: 660px;
  padding-left: 0;
  padding-right: 0;
}

.olist.procedure > ol {
  counter-reset: li;
  list-style: none;
  position: relative;
  & > li {
    position: relative;
    padding: 5px 0 5px 55px;
    margin-bottom: 5px;
    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30px;
      padding: 0 10px 0 0;
      color: #999;
      font-size: emCalc(22px);
      font-weight: bold;
      line-height: 1.6;
      text-align: right;
      border-right: 1px solid #ddd;
    }
  }
}

.sidebarblock > .content > .title {
  // FIXME kind of a hack
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 20px;
  padding: 1em;
  font-size: emCalc(12px);
  background: #eaeaea;
}

.literalblock,
.listingblock {
  & pre {
    background: $pre-bg;
  }
}



/******************
 * NUMBERED LISTS *
 ******************/
ul, ol {
	counter-reset: numList;
}
ol > li {
	position: relative;
	list-style: none;
	padding-left: $bullet-number-offset;
}
ol > li:before {
	counter-increment: numList;
	content: counter(numList);

	position: absolute;
	left: -$bullet-number-size;
	margin-top: $bullet-number-offset;

	width: $bullet-number-size;
	height: $bullet-number-size;
	background: $bullet-number-color;

	font: bold $bullet-number-font-size sans-serif;
	line-height: $bullet-number-size;
	text-align: center;
	color: #fff;

	border-radius: 999px;
}

/**********
 * SKILLS *
 **********/
.skill.description > h5 {
  text-transform: uppercase;
}
.skill.description > .sect5 > h6,
.skill.description > .sect5 > .paragraph,
.skill.description > .sect5 > .paragraph > p {
  display:inline;
}
.skill.description > .sect5:last-child {
  margin-bottom: 1.25em;
}

/********************
 * DESIGNER'S NOTES *
 ********************/
.design {
  background: #fafafa;
  background: linear-gradient(top,  #fafafa 0%,#efefef 100%);
  border-radius: 7px;
  box-shadow: 0px 0px 1px 1px white inset, 0px 23px 21px -33px #000;
}

.design .content {
  display: none;
}
// displayer-macro.rb is used to add a checkbox input
.displayer:checked + .design .content {
  display: block;
}

.design pre {
  color: #666;
}
