sudo: required

before_install:
  - mkdir -p output
  - echo $TRAVIS_BUILD_DIR
  - pwd
  - ls -l
  - sudo apt-get install asciidoctor

script:
  - asciidoctor core.adoc

after_success:
  - echo done!

